body { 
	margin: 0; 
}

#game {
	display: none;
}

#mainMenu {
	display: block;
}

#editor {
	width: 80%;
	display: none;
	margin: auto;
}


div{
	margin: auto;
	border: 1px;
	border-style: solid;
	border-color: black;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 10;
	display:block;
}