body { 
	margin: 0 !important;
	padding: 0 !important;
    background-color: #ab6a8c;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
}

H1 {
	color: red;
}

div:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  

#game {
	margin: 0%;
	display: none;
}

#editor {
	width: 85%;
	display: none;
	margin: auto;
	box-shadow: none;
}

.container {
	display: flex;
	justify-content: center;
}

#mainMenu {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25px;
	width: 80%;
	height: 80%;
	max-width: 800px;
	max-height: 400px;
	margin: auto;
	text-align: center;
	background-color: orange;
	display: block;
}

#menuButtons {
	text-align: center;
}


#innerMainMenu {
	padding: 15px;
	margin: auto;
	width: 80%;
	text-align: left;
}

.responsive {
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	height: auto;
}

.responsiveSmall {
	max-width: 40px;
	max-height: 40px;
}

#innerEditorMenu {
	padding: 5px;
	margin: auto;
}

#gameCanvas {
	position: absolute;
	margin: 0;
}

.menu {
  text-align: center;
  background-color: white;
  margin: auto;
  border: 5px solid black;
  border-radius: 25px;
}

#menuButtons {
	box-shadow: none;
}

#editorTitle {
	background-color: orange;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 10;
	display:block;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: orange;
	text-align: center;
	border-radius: 25px;
	border: 5px solid black;
 }